<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Home" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/dist/index.html" />
        </rule>
        <rule name="Dashboard" stopProcessing="true">
          <match url="^dashboard$" />
          <action type="Rewrite" url="/dist/index.html" />
        </rule>
        <rule name="Heroes" stopProcessing="true">
          <match url="^heroes$" />
          <action type="Rewrite" url="/dist/index.html" />
        </rule>
        <rule name="HeroeDetail" stopProcessing="true">
          <match url="^detail/\d" />
          <action type="Rewrite" url="/dist/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
